
<div>

</div>
<table class="table">
<tr>
  <th>排名</th>
  <th>名称</th>
  <th>缩写</th>
  <th>价格(人民币)</th>
  <th>24小时涨跌</th>
  <th></th>
</tr>
<% @coins.each do |coin| %>
  <tr>
    <td><%= coin.rank%></td>
    <td><%= coin.name %></td>
    <td><%= coin.symbol %></td>
    <td><%= coin.price_cny  %></td>
    <td><%= coin.percent_change_24h %></td>
    <td><%= link_to "更新",update_rank_coin_path(coin),:method => :post %> </td>
  </tr>
<% end %>
</table>
